html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./style.css
        title Mongo Manager
    body 
        h1.textC ERROR: NO MONGODB DATABASE DETECTED
        hr
        
        div.textC
            p To Run, Launch MongoDB Compass, connect to "localhost:27017" and create a new database called 'manager'. Then relaunch the application. 